@import './resets';
@import './icons';
@import './variables';

body {
    min-height: 100vh;
    background-color: $color-mineshaft;
    animation-name: displayContent;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Animation */ 

@keyframes displayContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ==================
   Header Section
   ================== */ 

header {
    @include marginCenter;
    height: 6vh;
    width: 80%;
    color: $color-white;

    .header-grid {
        @include flex(center, center);
        margin-top: 20px;
    }

    .logo {
        cursor: pointer;
    }

    .header-grid nav ul {
        list-style: none;

        .header-grid nav li {
            padding: 0 1rem;
            display: inline-block;

            .header-grid nav li:hover {
                padding-bottom: .5rem;
                border-bottom: 3px solid $color-white;
                color: $color-smaltblue;

                .header-grid nav li a {
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: $color-white;
                }
            }
        }
    }
}

.container {
    width: 60%;
}

/* ==================
    Slanted Container 
   ================== */ 

.slanted-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: $color-smaltblue;
}

.slanted-container:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform-origin: top left;
    transform: skewY(1.6deg);
    z-index: -1;
}

.info-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
}

.info-header h1 {
    font-size: 6rem;
}

.info-header p {
    font-size: 2rem;
}

.info-header ul {
    margin-top: 10px;
    @include flex(center, start)
}

.info-header ul li {
    list-style: none;
}

.info-header ul li:nth-child(even) {
    padding: 0 1rem;
}

.info-header ul li a {
    text-decoration: none;
    padding: 0rem;
    color: $color-white;
    font-size: 1.25rem;
}

.info-header ul li a:hover {
    border-bottom: 3px solid $color-white;
}

.info-header .mobile-bar-links {
    display: none;
}

/* ==================
    Skills Section
   ================== */ 

.skills {
    margin: 60px 0 40px;
    text-align: $align-center;
    color: $color-white;

    .skills h1 {
        font-size: $h1-resize;
    }

    .skills .code-icons {
        @include grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
        margin-top: 30px;
    }
}

.icon-container {
    @include marginCenter;
}

.icon-box {
    border: 2px solid $color-white;
    width: 100%;
    height: 100%;
}

.icon-box:hover {
    transform: scale(1.05);
}

.icon-box i {
    font-size: 4rem;
}

.icon-box-content {
    padding: 1.5rem;
}

.icon-box-content p {
    font-weight: bold;
}

.icon-box-content i {
    margin-top: 1rem;
}

/* ==================
    Projects Section
   ================== */ 

.portfolio {
    text-align: $align-center;
    color: $color-white;
    background-color: $color-smaltblue;
}

.portfolio h1 {
    font-size: $h1-resize;
}

.portfolio-container {
    @include marginCenter;
    padding: 40px 0;
}

.portfolio-rows {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.portfolio-rows:first-of-type {
    margin-top: 30px;
}

.portfolio-image-card img {
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-content-card .content-btn-link {
    padding: 1rem 2rem;
    text-decoration: none;
    color: $color-white;
    background-color: $color-smaltblue;
}

.portfolio-content-card {
    @include grid;
    background-color: $color-mineshaft;
}

.content-description {
    padding: 0 2rem;
}

.content-description h2 {
    font-size: 2rem;
}

.content-description p:first-of-type, .content-description p:nth-of-type(2) {
    margin-top: 10px;
}

.github-title-logo {
    font-size: 1.5rem;
    border: none;
    padding-left: 0.5rem;
    color: $color-white;
}

.github-title-logo:hover {
    color: $color-smaltblue;
    transition: 0.5s;
}

.content-btn {
    margin-top: 40px;
    cursor: pointer;
}

.content-btn .content-btn-link:hover {
    background-color: $color-white;
    color: $color-smaltblue;
    transition: 0.8s;
}


/* ==================
    Education Section
   ================== */ 

.education-container {
    margin: 30px auto;
    color: $color-white;
}

.education-container h1 {
    text-align: $align-center;
    margin-bottom: 1rem;
}

.education-container ul li {
    list-style: none;
    line-height: 1.5;
}

.education-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fa-file-pdf {
    padding-left: 0.5rem;
}

/* ==================
    Footer Section
   ================== */ 

footer {
    text-align: $align-center;
    height: 12vh;
    color: $color-white;
}

footer .container {
    @include marginCenter;
}

.footer-contact-icons ul {
    @include flex(center, center);
}

.footer-contact-icons ul li {
    list-style: none;
    padding: 1rem;
}

.footer-icon {
    font-size: 1.5rem;
    background-color: $color-mineshaft;
    border: 1px solid $color-white;
    padding: 1rem;
}

.footer-icon:hover {
    transform: scale(1.05);
}

/* ==================
    Media Queries
   ================== */ 

@media (min-width: 769px) and (max-width: 1200px) {
    
    /* ==================
    Slanted Container
    ================== */ 

    .info-header h1 {
        font-size: 4rem;
    }

    .info-header p {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {

    /* ==================
    Header Section
    ================== */ 

    .header-grid nav li {
        padding: 0 0.5rem;
    }

    .header-grid nav li a {
        font-size: 1rem;
    }

    /* ==================
    Slanted Container
    ================== */ 

    .info-header h1 {
        font-size: 3rem;
    }

    .info-header p {
        font-size: 1.25rem;
    }

    .info-header .fullscreen-bar-links {
        display: none;
    }

    .info-header .mobile-bar-links {
        display: flex;
    }

    .info-header ul li:nth-child(even)  {
        padding: 0 0.5rem;
    }

    .info-header .mobile-bar-links a {
        font-size: 1.5rem;
    }

    .info-header ul li a:hover {
        border-bottom: none;
    }

    /* ==================
    Skills Section
    ================== */ 

    .skills .code-icons {
        @include grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 5px;
        margin-top: 30px;
    }

    .icon-container {
        @include marginCenter;
        width: 70%;
    }

    /* ==================
    Portfolio Section
    ================== */ 

    .portfolio-container {
        @include marginCenter;
        width: 90%;
    }

    .portfolio-rows {
        @include grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 20px auto;
    }

    .portfolio-content-card {
        height: 45vh;
        order: 1;
    }

    .content-description h2 {
        font-size: 1.5rem;
    }

    /* ==================
    Education Section
    ================== */ 

    .education-container ul {
        display: block;
    }

    .education-container ul li {
        padding: 0.5rem 0;
    }

    /* ==================
    Footer Section
    ================== */ 

    .footer-contact-icons ul li {
        padding: 0.25rem;
    }
}